@import "tailwindcss";

@theme {
  --color-chathams-blue: oklch(41.009% 0.08842 245.62);
  --color-chathams-blue-50: oklch(71.902% 0.10403 242.28);
  --color-chathams-blue-100: oklch(68.784% 0.11602 243.8);
  --color-chathams-blue-200: oklch(63.174% 0.13589 245.43);
  --color-chathams-blue-300: oklch(56.438% 0.12658 245.95);
  --color-chathams-blue-400: oklch(48.752% 0.1084 246.19);
  --color-chathams-blue-500: oklch(41.009% 0.08842 245.62);
  --color-chathams-blue-600: oklch(29.518% 0.05892 245.42);
  --color-chathams-blue-700: oklch(17.094% 0.02637 240.83);
  --color-tradewind: oklch(70.865% 0.10315 172.27);
  --color-tradewind-50: oklch(92.281% 0.02794 177.02);
  --color-tradewind-100: oklch(89.855% 0.03671 177.16);
  --color-tradewind-200: oklch(84.944% 0.05538 175.88);
  --color-tradewind-300: oklch(80.137% 0.07276 175.67);
  --color-tradewind-400: oklch(75.455% 0.08858 173.97);
  --color-tradewind-500: oklch(70.865% 0.10315 172.27);
  --color-tradewind-600: oklch(60.155% 0.08926 172.49);
  --color-tradewind-700: oklch(48.149% 0.07082 171.51);
  --color-tradewind-800: oklch(35.077% 0.04871 172.53);
  --color-tradewind-900: oklch(21.026% 0.02414 171.83);
  --color-tradewind-950: oklch(12.623% 0.01197 183.05);
  --color-primrose: oklch(91.089% 0.11718 118.9);
  --color-primrose-200: oklch(99.62% 0.00394 106.47);
  --color-primrose-300: oklch(96.754% 0.04398 118.3);
  --color-primrose-400: oklch(93.867% 0.0816 118.33);
  --color-primrose-500: oklch(91.089% 0.11718 118.9);
  --color-primrose-600: oklch(87.484% 0.1598 120.29);
  --color-primrose-700: oklch(84.121% 0.18924 121.95);
  --color-primrose-800: oklch(73.16% 0.17019 122.37);
  --color-primrose-900: oklch(58.66% 0.13481 122.12);
  --color-primrose-950: oklch(51.039% 0.11593 122.23);
  --color-woodsmoke: oklch(17.491% 0.00821 285.52);
  --color-woodsmoke-50: oklch(97.642% 0.00132 286.38);
  --color-woodsmoke-100: oklch(93.714% 0.00417 271.37);
  --color-woodsmoke-200: oklch(85.502% 0.00988 273.34);
  --color-woodsmoke-300: oklch(77.093% 0.01594 273.79);
  --color-woodsmoke-400: oklch(68.421% 0.02101 273.11);
  --color-woodsmoke-500: oklch(59.292% 0.02929 276.07);
  --color-woodsmoke-600: oklch(50.677% 0.02715 277.48);
  --color-woodsmoke-700: oklch(41.725% 0.02322 282.11);
  --color-woodsmoke-800: oklch(32.559% 0.01935 285.28);
  --color-woodsmoke-900: oklch(22.909% 0.01151 285.46);
  --color-woodsmoke-950: oklch(17.491% 0.00821 285.52);
}

@custom-variant dark (&:where(.dark, .dark *));

@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
